@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #657178; /* Color of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #657178; /* Color of the handle on hover */
}
.swiper-button-prev,
.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  background-color: white;
  border-radius: 50% !important;
  color: black !important;
  font-size: 24px !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
}
.swiper-pagination-bullet {
  background: white !important;
  opacity: 50% !important;
}
.swiper-pagination-bullet-active {
  border-radius: 64px !important;
  width: 24px !important;
  background: white !important;
  opacity: 100% !important;
}
